@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.notification-container{
  margin-top: 0;
 width:100%;


}

nav{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;

}



nav ul li{


    list-style: none;
    display: inline-block;
    padding:10px 20px;
    margin-right: 30px;
    

}
nav ul li i{

color:white;
text-decoration: none;
font-weight: 500;
background-color:#333;
padding: 10px 10px;
border-radius: 5px ;



}



/* notification  */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-notification {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown:hover .dropdown-notification{
  display: block;
}

/* admin avatar */

.admin-avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#333;
    padding: 10px 10px;
    border-radius: 5px ;
  }
  
  /* notiication count indicator */
  #notamount{

  position:relative;
  top:-12;
  left:-12;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color:rgb(230, 18, 18);
  border:none;


  }

  /* side menue */
  #menubar{
    
    background: #333;
    width: 250px;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    font-family:sans-serif;
    z-index: 5;
    
    
    }
    
    #menubar .logo {
    
    display: flex;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
    color:white;
    padding: 20px 0 36px 30px;
    margin-bottom:8px;
    
    }
    
    #menubar .logo img{
    
    width: 40px;
    margin-right: 16px;
    
    }
    
    #menubar .topics{
    
    
    margin-top: 2px;
    
    }
    
    
    #menubar .topics li{
    
    list-style: none;
    padding: 16px 0;
    transition: 0.2s ease ;
    
    }
    
    #menubar .topics li :hover{
    
    background: #253047;
    cursor: pointer;
    
    
    }
    #menubar .topics li:nth-child(1){
    
    
    border-left: 3px solid #fff;
    
    }
    
    
    #menubar .topics li i{
    
    
    color: rgb(134,141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
    
    
    }
    
    #menubar .topics li:hover i,
    #menubar .topics li:hover a{
    
      color: #F3F4F6;
    }
    
    
    
    #menubar .topics li a{
    
    text-decoration: none;
    font-size: 16px;
    color: rgb(134,141, 151);
    font-weight: 300px;
    transition: 0.2s ease;
    
    }
    
    
    #page{
    
       width:max-content;
       height:max-content;
       justify-content: flex-start;
       position:relative;
    
        
    }
    
    /* dashbord */

    .left{
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }

 
    
    .t-name{
      color: #444a53;
      margin-left: 285px;
      font-size: 24px;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 20px;
      
    }

    .maxcontainer{


        padding:30px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 252px;
    }
    
.maxcontainer .upperpart{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   width:1200px;
   
       
}
.upperpart .boxes{

background-color:#dde1e7; 
box-shadow: -3px -3px 7px #ffffff73,3px 3px 5px rgba(94,104,121,.288) ;
width: 235px;
padding: 16px 20px;
border-radius: 5px;
display: flex;
justify-content: flex-start;
align-items: center;


}

.upperpart .boxes i{

font-size: 25px;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
background: white;
margin-right: 15px;
color: white;


}

.upperpart .boxes:nth-child(1) i{
    background: #7B74EC;
}
.upperpart .boxes:nth-child(2) i{
    background: #5C8AF0;
}
.upperpart .boxes:nth-child(3) i{
    background: #E45D99;
}
.upperpart .boxes:nth-child(4) i{

    background:#0f55ed;
}

.upperpart .boxes h3{

    font-size: 25px;
    font-weight: 600;
    
}

.upperpart .boxes span{

    font-size: 20px;
    font-weight: bold;
    color: #253047;
}

.display{


    margin-left: 280px;
    overflow:auto;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    
     
}

.display img{

  width: 60px;
  height:60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 15px 0 4px;

  

}

.display h5{

    font-weight: 600;
    font-size: 14;

}

.display p{

    font-weight: 400;
    font-size: 14px;
    color:#444a53;

}

.display .staff{

display: flex;
align-items: center;
justify-content: flex-start;
text-align: start;

}

table{

    border-collapse: collapse;
    font-family:sans-serif;

}

tr{
    border-bottom:1px solid #e3ffe4;
}

#tableheadrow{

    font-size: 15px;
    text-transform: uppercase;
    font-weight: 450;
    background: #F9FAFB;
    text-align:flex-start;
    padding:15px;
    margin-left: 2px;
    
}

tbody tr td{

    padding:10px 15px;
}

.status p{

    background:#d7fada;
    padding:2px 10px;
    display:inline-block;
    border-radius: 40px;
    color: #2b2b2b;

}

.Edit a{

  text-decoration: none;
  font: size 14px;
  color:#2b2b2b;
  font-weight: 600;

}




#switchbutton{


position :relative;
margin-left:300px;
margin-top:450px;
height:15px;
width:20px;


}